@use "tailwindcss";
@use "./scss/globals.scss" as *;

html,
body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: $palette-lightest;
  color: $palette-darkest;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

main{
  margin-top: $outlet-margintop;
}